.main{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block{
    border: 2px solid bisque;
    height: 10rem;
    width: 10rem;
    cursor: pointer;
    margin: 8px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: bold;
}
.board{
    margin-top: auto;
    border: 4px solid cadetblue;
    border-radius: 2%;
}
.row{
    display: flex;
}
.popupmain {
    position: absolute;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border: 2px solid cadetblue;
    padding: 20px;
    border-radius: 5px;
    background-color: antiquewhite;
}
.btn {
    padding: 6px;
    border: none;
    background-color: cadetblue;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(77, 137, 139);
}